.advantages {
    position: relative;
    height: 898px;
    background-image: url("/images/advantages/advantages-bottom.png"), url("/images/advantages/advantages-top.png");
    background-size: contain; 
    background-size: 450px 470px, 280px auto;
    background-position: bottom left, top right;
    background-repeat: no-repeat;

    &__img-top {
        z-index: -1; 
        position: absolute;
        width: 280px;
        height: auto;
        top: 59px;
        right: 0;
    }

    &__img-left {
        z-index:-1; 
        position: absolute;
        width: 642px;
        height: 288px;
        bottom: 0;
        left: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    h2 {
        max-height: 200px;
        max-width: 537px;
        text-align: center;
        margin: 20px;
    }

    &__pag-adv {
        display: flex;
        gap: 12px;
    }

    ul {
        display: flex;
        gap: 24px;
    }

    &__card {
        color: $white;
        position: relative;
        width: 282px;
        min-height: 362px;
        background-color: $green;
        border-radius: 24px;
        padding: 56px 24px 30px;

        h3 {
            margin-bottom: 16px;
        }

        img {
            position: absolute;
            left: 50%;
            top: 0px;
            width: 80px;
            border: solid $white 12px;
            height: 80px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transform: translate(-50%, -50%);
        }
    }
}