button {
    width: 180px;
    height: 48px;
    background-color: $green;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
&:hover {
    background-color: $hover-green;
} 
  
}