.exam {
    padding-top: 96px;
    height: 795px;
    background-image: url("/proba.bel/images/exam.png");
    background-size: cover; // Заполняет весь контейнер без искажений
    background-repeat: no-repeat; // Отключает повторение

    h2 {
        color: $white;
        max-width: 662px;
        margin-bottom: 50px;
    }

    .question {
position: relative;
width: 82%;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -296px;
            max-width: 636px;
            width: 636px;
            min-width: 370px;
            max-height: auto;
            border-radius: 50%;
            border: solid $white 12px;
            box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @media (max-width: 700px) {
                position: relative;
                right: 0;
                top: 0;
                width: 100%;

              }
        }
    }


    p {
        color: $white;
        max-width: 662px;
        font-size: 24px;
    }

    ul {
        max-width: 100%;
        height: auto;
        border-radius: 32px;
        background-color: $white;
        padding: 40px 24px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;

        li {
            p {
                font-size: 20px;
                color: $black;
            }

            display: flex;
            gap: 16px;
            align-items: center;
        }
    }
}