.faq {
    max-height: 744px;
    @media (max-width: 390px) {
      min-height: 911px;
    }
    margin-bottom: 64px;

    h2 {
        margin-top: 110px;
        margin-bottom: 77px;
        @media (max-width: 390px) {
          margin: 0;
        }
    }
    svg{
        min-width: 24px;
    }
    &__accordion {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: auto;
        margin: 0 auto;

        details {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

            padding: 20px;
            cursor: pointer;
            border-radius: 8px;



            summary {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    font-size: 16px;
                    margin-bottom: 12px;
                    @media (max-width: 390px) {
                      
                    }
                }

                svg {
                    transition: transform 0.3s ease;
                }

            }

            &[open] summary svg {
                transform: rotate(-90deg);
            }

            .faq__content {
                font-size: 18px;
                p{
                    @media (max-width: 390px) {
                        font-size: 14px;
                      }
                }
            }
        }

        details:last-child {
            border-bottom: none;
        }
    }
}