.contact-form {
    height: 437px;
    background-image: url("/proba.bel/images/form-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    padding: 88px 0 63px;

    @media (max-width: 400px) {
        height: auto;
        padding: 37px 0 10px;
    }

    h2 {
        max-width: 370px;
        margin-bottom: 32px;
    }

    form {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 765px) {
            flex-wrap: wrap;
        }

        @media (max-width: 400px) {
            flex-direction: column;
        }

        gap: 16px;
        margin-bottom: 20px;

        input {
            max-width: 336px;
            height: 64px;
            border-radius: 8px;
            background-color: $white;
            color: $black;
            font-size: 18px;
            padding: 20px;
            @media (max-width: 400px) {
                max-width: unset;
                width: 100%;
            }
        }

        button {
            width: 282px;
            height: 64px;

            @media (max-width: 400px) {
                width: 100%;
            }
        }
    }

    &__conf {
        display: flex;
        gap: 12px;
        align-items: center;
        max-width: 668px;

        a {
            color: $light-green;
            text-decoration: underline;
        }
    }

}