.contact-form {
    height: 437px;
    background-image: url("/proba.bel/images/form-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    padding-top: 88px;

    h2 {
        max-width: 340px;
        margin-bottom: 32px;
    }

    form {
        display: flex;
        gap: 16px;
        margin-bottom: 20px;
        input {
            width: 336px;
            height: 64px;
            border-radius: 8px;
            background-color: $white;
            color: $black;
            font-size: 18px;
            padding: 20px;
        }

        button {
            width: 282px;
            height: 64px;
        }
    }
    &__conf{
        display: flex;
        max-width: 668px;
        span{
           color: $light-green;
           text-decoration: underline;
        }
    }

}