@import "_reset";
@import "_variables";
html, body {
  overflow-x: hidden;
}

body {
  font-family: $font-family;
  // font-size: $font-size;
  line-height: $line-height;
  color: $black;
  background-color: $white;
  

}
// Контейнер
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  @media (max-width: 700px) {
    padding: 0 10px;
  }
}

// Заголовки

h2{
font-weight: 400;
font-size: 40px;
line-height: 140%;
@media (max-width: 700px) {
  font-size: 24px;
}
}

a {
  
  &:hover {
      color: $hover-green;
  }
}