.header {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;

    &__top {
        display: flex;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        height: 40px;
    }

    &__category {
        display: flex;
        align-items: center;
        gap: 48px;

        ul {
            display: flex;
            gap: 48px;
            li {
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 20px;   
    }
}