.hero {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: $white;
    margin-bottom: 64px;

    @media (max-width: 390px) {
      min-height: 360px ;
    }

    .hero__text-block {
        position: relative;
        margin: 0 0 0 168px;
        top: -36px;
        max-width: 690px;
        @media (max-width: 390px) {
          margin: 0;
          top: unset;
        }
        h2 {
            font-size: 48px;
            margin-bottom: 36px;
            
        }

        p {
            font-size: 24px;
        }
        @media (max-width: 390px) {
            h2{
                font-weight: 400;
                font-size: 24px;
                margin-bottom: 10px;     
                   
            }
          p{
            font-size: 16px;
          }
        }
    }

   

    // Фоновое изображение на заднем плане
    &__bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @media (max-width: 1100px) {
            display: none;
          }
        img {
            position: absolute;
            top: 0;
            left: 0;
            max-height: 100%;
            width: auto;
            object-fit: contain;
        }
        @media (max-width: 390px) {
          display: none;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    // Контейнер для слайдера
    .swiper-container {
        width: 100%;
    }

    // Стили для слайдов
    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    // Контейнер для содержимого слайда
    &__content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        gap: 10px;
        @media (max-width: 1100px) {
            flex-direction: column;
            align-items: baseline;
        
          }
        @media (max-width: 390px) {
            
            align-items: flex-start;
            padding: 20px;
        }
    }
    .hero__image{
        img{
            width: 100%;
            min-width: 550px;
            height: auto;
        }
    }
    // Стили для изображения в слайде
    &__image {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;

            @media (max-width: 390px) {
                width: 100%;
                height: auto;
            }
        }
    }

    .swiper-slide img {
        max-width: 100%;
        height: auto;

        @media (max-width: 390px) {
            max-width: 100%;
        }
    }

    // Стили для пагинации (точек)
    .swiper-pagination {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        margin: 0 5px;
        background: transparent;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        svg circle {
            opacity: 1;
        }
    }
}