.work {
    padding: 80px 0;
    position: relative;
    background-image: url('/proba.bel/images/work-bg.png');
    width: 100%;
    height: 737px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white;

    @media (max-width: 400px) {
        background-image: url('/proba.bel/images/work-mobilebg.png');
        height: 1846px;
        padding: 10px;
    }



    &__list {
        position: relative;
        width: 100%;
        height: 737px;

        @media (max-width: 400px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 877px;
        min-width: 300px;
    }

    &__line-mob {
        position: absolute;
        top: 128px;

    }

    &__list div {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 240px;
        height: auto;
        text-align: center;

        @media (min-width: 400px) {
            position: absolute;
            max-width: 282px;


        }

        span {
            font-size: 18px;
            margin-bottom: 10px;
        }

        img {
            border: solid 12px $green;
            background-color: $green;
            width: auto;
            height: auto;
        }
    }



    @media (min-width: 400px) {
        &__list div:nth-child(1) {
            top: 15%;
            left: 0;
        }

        &__list div:nth-child(2) {
            top: 40%;
            left: 16%;
        }

        &__list div:nth-child(3) {
            top: 14%;
            right: 49%;
        }

        &__list div:nth-child(4) {
            top: 39%;
            right: 33%;
        }

        &__list div:nth-child(5) {
            bottom: 60%;
            left: 63%;
        }

        &__list div:nth-child(6) {
            bottom: 29%;
            left: 76.5%;
        }
    }


}